<div class="signinpage">
    <section class="container">
    <article >
        <div class="col-md-4 mx-auto card my-4" style="background-color: black; opacity:.8">
            <h3 class="text-uppercase font-weight-bold text-center my-2 p-1" ><u> Signin</u></h3>
            <form action="/auth/signin" method="POST">
            
              <div class="form-group">
                  <label for="email">Email</label><br>
                  <input type="email" name="email" class="form-control" required id="email" placeholder="Enter Email">
              </div>

                <div class="form-group">
                  <label for="password">Password</label><br>
                  <input type="Password" name="password" class="form-control" required id="password" placeholder="Enter password">
              </div>
             
              <div class="form-group">
                  {{!-- <button class="btn  btn-block">Signin</button> --}}
                  <button class="button" style="vertical-align:middle"><span>Let me in </span></button>
              </div>
            </form>
        </div>
    </article>
</section>

</div>
